<p>Dear <%= @user.full_name %>,</p>
<p>We have received your request to cancel your reservation for Apple Picking Event.</p>
<p>We are sorry you are unable to join us for this event.</p>
<p>
  Best wishes, <br />
  Signature
</p>